
[core]
excludesfile = ~/.gitignore_global
eof = false

[alias]
ci = commit
co = checkout
st = status
br = branch
ad = add
a = add
;st = status --ignore-space-at-eol
;;diff = diff --ignore-space-at-eol
hirano = !echo I am Hirano.
di = diff --ignore-space-at-eol
graph = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'

[user]
    email = “daisuke.hirano@photocreate.co.jp
    name = “Hirano Daisuke

[color]
  ui = auto

